<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <header class="header" th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-ecf">
      <section class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}"><img alt="Logo" class="header-logo" th:src="@{/img/LogoSimplifie_Blanc.png}"/></a>
        <button class="navbar-toggler burger-ecf" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- Membres-->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{titre.membres}"></a>
              <ul class="dropdown-menu burger-ecf">
                <li><a class="nav-link" th:href="@{/listeMembres}" th:text="#{titre.listeMembres}"></a></li>
                <li><a class="nav-link" th:href="@{/ficheMembre}" th:text="#{titre.ficheMembre}"></a></li>
                <li><a class="nav-link" th:href="@{/inscriptionMembre}" th:text="#{titre.inscriptionMembre}"></a></li>
              </ul>
            </li>
            <!-- Cours-->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{titre.cours}"></a>
              <ul class="dropdown-menu burger-ecf">
                <li><a class="nav-link" th:href="@{/planifierCours}" th:text="#{titre.planifierCours}"></a></li>
                <li><a class="nav-link" th:href="@{/prochainsCours}" th:text="#{titre.prochainsCours}"></a></li>
              </ul>
            </li>
            <!-- Représentation-->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{titre.representations}">
              </a>
              <ul class="dropdown-menu burger-ecf">
                <li><a class="nav-link" th:href="@{/planifierRepresentation}" th:text="#{titre.planifierRepresentation}"></a></li>
                <li><a class="nav-link" th:href="@{/prochainesRepresentations}" th:text="#{titre.prochainesRepresentations}"></a></li>
              </ul>
            </li>
            <!-- Instrument-->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{titre.instruments}">
              </a>
              <ul class="dropdown-menu burger-ecf">
                <li><a class="nav-link" th:href="@{/ajouterInstrument}" th:text="#{titre.ajouterInstrument}"></a></li>
              </ul>
            </li>
          </ul>
        </div>
      </section>
    </nav>
  </header>
</html>