<!DOCTYPE html>
<html lang="Fr-fr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css" data-th-href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/style.css" data-th-href="@{/style.css}">
    <title>Autre page</title>
  </head>
  <body>
    <h1 th:text="#{titre.autrePage}"></h1>
    <h2><a th:href="@{/index}">Retour à l'index</a></h2>

    <!-- Script-->
    <script src="../static/node_modules/bootstrap/dist/js/bootstrap.bundle.js" data-th-href="@{/node_modules/bootstrap/dist/js/bootstrap.bundle.js}" defer></script>
  </body>
</html>