<!DOCTYPE html>
<html lang="fr-FR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head}">
  <title th:text="${titrePage}">HarmoGestion : Planifier une représentation</title>
</head>

<body>
<header th:replace="~{fragments/header :: header}"></header>
<main class="container">
  <h1 th:text="#{titre.representations}">Titre</h1>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<script th:replace="~{fragments/script-bootstrap :: script-bootstrap}"></script>
</body>

</html>