<!DOCTYPE html>

<html lang="fr-FR" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="~{fragments/head :: head}">
    <title th:text="${titrePage}">HarmoGestion : Créer un cours</title>
  </head>

  <body>
    <header th:replace="~{fragments/header :: header}"></header>

    <main class="container">
      <h1 th:text="${titreFormulaire}">Ajouter</h1>
      <form action="#" th:action="${action}" th:object="${cours}" id="form-cours" method="post">
        <div class="mb-3">
          <label class="form-label" for="date-cours">Date du cours</label>
          <input class="form-control" th:errorclass="is-invalid" id="date-cours" th:field="*{dateCours}"
                 required type="datetime-local">
          <div class="invalid-feedback" th:errors="*{dateCours}"></div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="duree-cours">Durée du cours (en min)</label>
          <input class="form-control" th:errorclass="is-invalid" id="duree-cours" th:field="*{dureeCours}"
                 required type="number">
          <div class="invalid-feedback" th:errors="*{dureeCours}"></div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="instrument-cours">Instrument enseigné</label>
          <select class="form-select" th:errorclass="is-invalid" id="instrument-cours" th:field="*{instrument}"
                  required>
            <option selected disabled value="">--Choisir--</option>
            <th:block th:each="intrument : ${instruments}">
              <option th:text="${intrument.libelleInstrument}" th:value="${intrument.idInstrument}">Instrument</option>
            </th:block>
          </select>
          <div class="invalid-feedback" th:errors="*{instrument}"></div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="enseignant-cours">Enseignant</label>
          <select class="form-select" th:errorclass="is-invalid" id="enseignant-cours" th:field="*{enseignant}"
                  required>
            <option selected disabled value="">--Choisir--</option>
            <th:block th:each="membre : ${membres}">
              <option th:text="${membre.prenomMembre} + ' ' + ${membre.nomMembre}"
                      th:value="${membre.idMembre}">Instrument</option>
            </th:block>
          </select>
          <div class="invalid-feedback" th:errors="*{instrument}"></div>
        </div>
        <input type="hidden" th:field="*{idCours}">
        <div>
          <button class="btn btn-outline-dark" type="submit" th:text="${nomSubmit}">Enregistrer</button>
        </div>
      </form>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
  </body>

</html>