<!DOCTYPE html>
<html lang="Fr-fr" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head">
    <title th:text="${titrePage}">HarmoGestion : Accueil</title>
  </head>
  <body>
    <header th:replace="fragments/header :: header"></header>
    <main class="container">
      <!-- Membre-->
      <section class="formulaire">
        <h1 th:text="#{titre.membres}"></h1>
        <a type="button" class="btn btn-primary btn-lg" th:text="#{titre.listeMembres}" th:href="@{/listeMembres}"></a>
        <a type="button" class="btn btn-primary btn-lg" th:text="#{titre.ficheMembre}" th:href="@{ficheMembre}"></a>
        <a type="button" class="btn btn-primary btn-lg" th:text="#{titre.inscriptionMembre}" th:href="@{inscriptionMembre}"></a>
      </section>
      <br>

      <!-- Cours-->
      <section class="formulaire">
        <h1 th:text="#{titre.cours}"></h1>
        <a type="button" class="btn btn-primary btn-lg" th:text="#{titre.prochainsCours}" th:href="@{prochainsCours}"></a>
        <a type="button" class="btn btn-primary btn-lg" th:text="#{titre.planifierCours}" th:href="@{planifierCours}"></a>
      </section>
      <br>

      <!-- Représentation-->
      <section class="formulaire">
        <h1 th:text="#{titre.representations}"></h1>
        <a type="button" class="btn btn-primary btn-lg" th:text="#{titre.prochainesRepresentations}" th:href="@{prochainesRepresentations}"></a>
        <a type="button" class="btn btn-primary btn-lg" th:text="#{titre.planifierRepresentation}" th:href="@{planifierRepresentation}"></a>
      </section>
      <br>

      <!-- Instrument-->
      <section class="formulaire">
        <h1 th:text="#{titre.instruments}"></h1>
        <a type="button" class="btn btn-primary btn-lg" th:text="#{titre.ajouterInstrument}" th:href="@{ajouterInstrument}"></a>
      </section>
      <br>

    </main>
    <footer th:replace="fragments/footer :: footer"></footer>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
  </body>
</html>