<!DOCTYPE html>
<html lang="Fr-fr" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head">
    <title th:text="${titrePage}">HarmoGestion : Accueil</title>
  </head>
  <body>
    <header th:replace="fragments/header :: header"></header>
    <main class="container">
      <!-- Membre-->
      <section class="formulaire">
        <h1 th:text="#{titre.membres}"></h1>
        <div class="d-flex flex-column flex-lg-row gap-3 justify-content-center">
          <a type="button" class="btn plain-primary btn-lg" th:text="#{titre.listeMembres}"
             th:href="@{/listeMembres}"></a>
          <a type="button" class="btn plain-primary btn-lg" th:text="#{titre.ficheMembre}" th:href="@{ficheMembre}"></a>
          <a type="button" class="btn plain-primary btn-lg" th:text="#{titre.inscriptionMembre}"
             th:href="@{inscriptionMembre}"></a>
        </div>
      </section>
      <br>

      <!-- Cours-->
      <section class="formulaire">
        <h1 th:text="#{titre.cours}"></h1>
        <div class="d-flex flex-column flex-lg-row gap-3 justify-content-center">
          <a type="button" class="btn plain-primary btn-lg" th:text="#{titre.prochainsCours}"
             th:href="@{prochainsCours}"></a>
          <a type="button" class="btn plain-primary btn-lg" th:text="#{titre.creerCours}"
             th:href="@{creerCours}"></a>
        </div>
      </section>
      <br>

      <!-- Représentation-->
      <section class="formulaire">
        <h1 th:text="#{titre.representations}"></h1>
        <div class="d-flex flex-column flex-lg-row gap-3 justify-content-center">
          <a type="button" class="btn plain-primary btn-lg" th:text="#{titre.prochainesRepresentations}"
             th:href="@{prochainesRepresentations}"></a>
          <a type="button" class="btn plain-primary btn-lg" th:text="#{titre.planifierRepresentation}"
             th:href="@{planifierRepresentation}"></a>
        </div>
      </section>
      <br>

      <!-- Instrument-->
      <section class="formulaire">
        <h1 th:text="#{titre.instruments}"></h1>
        <div class="d-flex flex-column flex-lg-row gap-3 justify-content-center">
          <a type="button" class="btn plain-primary btn-lg" th:text="#{titre.ajouterInstrument}"
             th:href="@{ajouterInstrument}"></a>
          <a type="button" class="btn plain-primary btn-lg" th:text="#{titre.listeInstruments}"
             th:href="@{listeInstruments}"></a>
        </div>
      </section>
      <br>

    </main>
    <footer th:replace="fragments/footer :: footer"></footer>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
  </body>
</html>